[core]
	quotePath = false
	autocrlf = input
	excludesfile = ~/.gitignore_global

[push]
	default = current

[alias]
	# View log like tree
	l = log --graph --pretty=format:'%x09%C(yellow)%h%Creset %C(magenta)<%an>%Creset%C(cyan)%d%Creset%n%x09%x09%Cgreen[%ci, %cr]%Creset %s'

	# View one-line log like tree
	lo = log --graph --pretty=format:'%x09%C(yellow)%h%Creset%C(cyan)%d%Creset %C(magenta)<%an>%Creset %Cgreen[%ci]%Creset %s'
